<app-bandeau-contrat
  [contractName]=contrat.name
  libelleAction='Improve your experience'
> 
</app-bandeau-contrat>

<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Light</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">For the minions</li>
          <li class="pricing-features-item">keep your money for the boss's trip</li>
          <li class="pricing-features-item">pay for the toilets</li>
        </ul>
        <span class="pricing-price">The cheapest</span>
        <a class="pricing-button"
          (click)="choix1()"
        >
          Sign up
        </a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Standard</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">partially refundable</li>
          <li class="pricing-features-item">changeable ticket</li>
          <li class="pricing-features-item">more baggage items</li>
        </ul>
        <span class="pricing-price">$1500</span>
        <a class="pricing-button"
          (click)="choix2()"
        >
          Free trial
        </a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Flex</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">fully refundable</li>
          <li class="pricing-features-item">changeable ticket</li>
          <li class="pricing-features-item">even more baggage items</li>
          <li class="pricing-features-item">travel like a king</li>
          <li class="pricing-features-item">eat like a pig</li>
        </ul>
        <span class="pricing-price">$8500</span>
        <a class="pricing-button"
          (click)="choix3()"
        >
          Free trial
        </a>
      </div>
      
    </div>
  </div>
</div>

<table width="800px">
<TR>
  <TD width="100px"></TD>
  <TD>
    <button
      [routerLink]="['/offres']"
    >
      Back to offers
      &nbsp;
      <mon-icone nomFichier="plane"></mon-icone>
    </button>
  </TD>
  <TD>
    <button
      [routerLink]="['/']"
    >
      Back to menu
    </button>
  </TD>
</TR>
</table>
